.contacto__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: $primary-low;
    background-image: url('../../assets/contacto-wave-top.svg') , url('../../assets/contacto-wave-bot.svg');
    background-repeat: no-repeat , no-repeat;
    background-size: 100% , 100%;
    background-position: top , bottom;
    flex-direction: column;
}
.contacto__row{
    display: flex;
    flex-direction: column;
    
}
.contacto__title{
   font-size: 3rem;
   color: $primary;
   font-style: italic;
   opacity: 0.9;
}
.contacto__form{
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   overflow: hidden;
    label{
        color: $primary;
        font-size: 1.3rem;
        justify-content: center;
        align-items: center;
        

    }
    textarea{
        width: 50vw;
        height: 40vh;
    }
}

.contacto__btn{
    width: 100%;
    background-color: $secondary;
    color: $primary;
    border-radius: 12px;
    outline-color: $primary-low;
    padding: 0rem;
    font-size: 2rem;
    filter: drop-shadow( 0px 0px 12px $primary);
    transition: all 400ms;

    &:hover{
        transform: translate(2px , -2px);
    }
}
@media (max-width:500px) {
    .contacto__title{
        font-size: 2rem;

     }
    
    .contacto__form{
        display: flex;
        flex-direction: column;
        align-items: center;
     
        overflow: hidden;
         label{
             color: $primary;
             font-size: 1.3rem;
             justify-content: center;
             align-items: center;
             width: 80vw;

         }
         textarea{
             width: 80vw;
             height: 40vh;
             margin-left: auto;
             margin-right: auto;
         }
     }
}